body
{
  #background-color: #fcfcfc;
  height: 100%;
}


.list
{
	left:80px;
}

g a 
			{color:inherit;}

.nav-button {
    position: relative;
    top: 8px;
    left: 8px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.imbutton {
  opacity:0.75;
}

.imbutton:hover {
  opacity:1;
}

.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

#page {
  position:absolute;
  height:100vh;	
  width:100%;
  overflow:hidden;
  padding:0px;
}

.tbtns {
  position: absolute;
  right: 21px;
  top: 6px;
  height:33px;
  }
  
.textbtn {
  position: relative;
  padding: 5px;
  width: 32px !important;  
  }
  
.moddiv {
  position:relative;
  min-height:200px;
  width:100%;
  background-color:white;
  left:0px;
}

.textareadiv {
  position: relative;
  min-height: 240px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  left: 0px;
  top: 0px;
  margin: 0px;
}

.textdiv {
  position:relative;
  height:255px;
  width:100%;
  background-color: white;
}

#holder.fullscreen {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

 #textholder.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }




/* Based on: https://bbbootstrap.com/snippets/modal-multiple-tabs-89860645 */
fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

.modal-backdrop {
    background-color: black;
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

@media screen and (max-width: 768px) {
    .tabs h6 {
        font-size: 12px
    }
}
